<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8" />
    <title>{{ title_tag }}</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta
      name="format-detection"
      content="telephone=no"
    />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="MobileOptimized"
      content="176"
    />
    <meta
      name="HandheldFriendly"
      content="True"
    />
    <meta
      name="robots"
      content="index, follow"
    />
    <meta
      property="og:type"
      content="article"
    />
    <meta
      property="og:title"
      content="{{ title }}"
    />
    <meta
      property="og:description"
      content="{{ description }}"
    />
    <meta
      property="og:image"
      content=""
    />
    <meta
      property="og:site_name"
      content="{{ service_name }}"
    />
    <meta
      property="article:published_time"
      content="{{ published_time }}"
    />
    <meta
      property="article:modified_time"
      content="{{ modified_time }}"
    />
    <meta
      property="article:author"
      content=""
    />
    <meta
      name="twitter:card"
      content="summary"
    />
    <meta
      name="twitter:title"
      content="{{ title }}"
    />
    <meta
      name="twitter:description"
      content="{{ description }}"
    />
    <meta
      name="twitter:image"
      content=""
    />
    <link
      rel="canonical"
      href="{{ description }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static_images', path='favicon.ico?1') }}"
      type="image/x-icon"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static_images', path='favicon.png?1') }}"
      sizes="16x16"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static_images', path='favicon_2x.png?1') }}"
      sizes="32x32"
    />
    <link
      href="{{ url_for('static_css', path='bulma.min.css?1') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static_css', path='quill.core.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static_css', path='main.page.css?1') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static_css', path='core.min.css?47') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include 'base_template/modals/about.html' %} {% include
    'base_template/modals/contact.html' %} {% include
    'base_template/navbar.html' %} {% block content %} {% endblock %}
  </body>
</html>
