<div
  class="modal"
  id="modal-about"
>
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <h3 class="title is-3 has-text-centered">О проекте</h3>
      <div class="content">
        <p><strong>Название проекта:</strong> {{ service_name }}</p>
        <p>
          <strong>Описание:</strong> Этот проект представляет собой решение для
          оптимизации процессов в различных областях. Мы стремимся предоставить
          пользователям удобные инструменты для повышения эффективности и
          улучшения результатов работы.
        </p>
        <p>
          <strong>Цель проекта:</strong> Наша цель — предоставить инновационные
          решения, которые позволят пользователям достигать своих целей с
          минимальными затратами времени и ресурсов.
        </p>
        <p>
          <strong>Ключевые особенности:</strong> В проекте реализованы передовые
          технологии и удобный интерфейс, что делает его доступным и эффективным
          для пользователей разных уровней.
        </p>
        <p>
          <strong>Команда проекта:</strong> Проект был разработан командой
          профессионалов, объединённых общей целью создания качественного и
          функционального продукта.
        </p>
        <p>
          <strong>Технологии:</strong> В разработке проекта используются
          современные и проверенные технологии, включая веб-разработку,
          мобильные приложения, и облачные решения.
        </p>
        <p>
          <strong>Контакты:</strong> Для получения дополнительной информации или
          связи с нами, пожалуйста, посетите наш сайт или напишите на указанный
          контактный email.
        </p>
      </div>
    </div>
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
  ></button>
</div>
