<div class="modal" id="modal-contact">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
        <h3 class="title is-3 has-text-centered">Контакты</h3>
        <div class="content">
          <p>
            <strong>Телефон:</strong> +7 (123) 456-78-90
          </p>
          <p>
            <strong>Электронная почта:</strong> contact@company.com
          </p>
          <p>
            <strong>Адрес:</strong> 1234, улица Примерная, офис 56, Москва, Россия
          </p>
          <p>
            <strong>Часы работы:</strong> Пн-Пт с 9:00 до 18:00
          </p>
          <p>
            <strong>Социальные сети:</strong>
            <ul>
              <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
              <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
              <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
            </ul>
          </p>
          <p>
            <strong>Контактное лицо:</strong> Иван Иванов, менеджер по связям с клиентами
          </p>
        </div>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
  