<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8" />
    <title>{{ title_tag }}</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta
      name="format-detection"
      content="telephone=no"
    />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="MobileOptimized"
      content="176"
    />
    <meta
      name="HandheldFriendly"
      content="True"
    />
    <meta
      name="robots"
      content="index, follow"
    />
    <meta
      property="og:type"
      content="article"
    />
    <meta
      property="og:title"
      content="{{ title }}"
    />
    <meta
      property="og:description"
      content="{{ description }}"
    />
    <meta
      property="og:image"
      content=""
    />
    <meta
      property="og:site_name"
      content="{{ service_name }}"
    />
    <meta
      property="article:published_time"
      content="{{ published_time }}"
    />
    <meta
      property="article:modified_time"
      content="{{ modified_time }}"
    />
    <meta
      property="article:author"
      content=""
    />
    <meta
      name="twitter:card"
      content="summary"
    />
    <meta
      name="twitter:title"
      content="{{ title }}"
    />
    <meta
      name="twitter:description"
      content="{{ description }}"
    />
    <meta
      name="twitter:image"
      content=""
    />
    <link
      rel="canonical"
      href="{{ description }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static_images', path='favicon.ico?1') }}"
      type="image/x-icon"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static_images', path='favicon.png?1') }}"
      sizes="16x16"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static_images', path='favicon_2x.png?1') }}"
      sizes="32x32"
    />
    <link
      href="{{ url_for('static_css', path='bulma.min.css?1') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static_css', path='main.page.css?1') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav
      class="navbar is-fixed-top"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a
          class="navbar-item"
          href="/"
        >
          <image
            style="size: 100vh"
            src="{{ url_for('static_images', path=title + '.svg?1') }}"
          />
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasic"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div
        id="navbarBasic"
        class="navbar-menu"
      >
        <div class="navbar-start">
          <a
            class="navbar-item"
            href="/"
            >Главная</a
          >
          <a class="navbar-item">Новости</a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Больше</a>
            <div class="navbar-dropdown">
              <a class="navbar-item">О проекте</a>
              <hr class="navbar-divider" />
              <a class="navbar-item">Контакты</a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    {% block content %} {% endblock %}
    <style></style>
    <script src="{{ url_for('static_js', path='vue.global.prod.js?1') }}"></script>
  </body>
</html>
