<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ service_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="MobileOptimized" content="176" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="robots" content="noindex, nofollow" />
    <link href="{{ url_for('static_css', path='core.min.css?47') }}" rel="stylesheet">
  </head>
  <body>
    <div class="tl_page_wrap">
      <div class="tl_page">
        <main class="tl_message">
          <section>
            <h1>404</h1>
            Page does not exist
          </section>
        </main>
      </div>
    </div>
  </body>
</html>