<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8" />
    <title>{{ title_tag }}</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta
      name="format-detection"
      content="telephone=no"
    />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="MobileOptimized"
      content="176"
    />
    <meta
      name="HandheldFriendly"
      content="True"
    />
    <meta
      name="robots"
      content="index, follow"
    />
    <meta
      property="og:type"
      content="article"
    />
    <meta
      property="og:title"
      content="{{ title }}"
    />
    <meta
      property="og:description"
      content="{{ description }}"
    />
    <meta
      property="og:image"
      content=""
    />
    <meta
      property="og:site_name"
      content="{{ service_name }}"
    />
    <meta
      property="article:published_time"
      content="{{ published_time }}"
    />
    <meta
      property="article:modified_time"
      content="{{ modified_time }}"
    />
    <meta
      property="article:author"
      content=""
    />
    <meta
      name="twitter:card"
      content="summary"
    />
    <meta
      name="twitter:title"
      content="{{ title }}"
    />
    <meta
      name="twitter:description"
      content="{{ description }}"
    />
    <meta
      name="twitter:image"
      content=""
    />
    <link
      rel="canonical"
      href="{{ description }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static_images', path='favicon.ico?1') }}"
      type="image/x-icon"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static_images', path='favicon.png?1') }}"
      sizes="16x16"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static_images', path='favicon_2x.png?1') }}"
      sizes="32x32"
    />
    <link
      href="{{ url_for('static_css', path='bulma.min.css?1') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav
      class="navbar is-fixed-top"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a
          class="navbar-item"
          href="/"
        >
          <image
            style="size: 100vh"
            src="{{ url_for('static_images', path=title+'.svg?1') }}"
          ></image>
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasic"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div
        id="navbarBasic"
        class="navbar-menu"
      >
        <div class="navbar-start">
          <a
            class="navbar-item"
            href="/"
          >
            Главная
          </a>

          <a class="navbar-item"> Новости </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> Больше </a>

            <div class="navbar-dropdown">
              <a class="navbar-item"> О проекте </a>
              <hr class="navbar-divider" />
              <a class="navbar-item"> Контакты </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div id="topPost">
      <div class="columns">
        <div class="column">
          <figure class="image">
            <image
              style="height: 100vh; width: 100%"
              src="{{ last_page.page_media }}"
            ></image>
          </figure>
        </div>
        <div class="column">
          {{ last_page.page_content[:max_length] | safe }}...
          <a href="{{ last_page.page_url }}">Читать далее</a>
        </div>
      </div>
    </div>
    <div id="otherPosts">
      <div class="columns">
        {% for post in otherPosts %}
        <div class="column">
          <image
            style="height: 100vh; width: 100%"
            src="{{ post.page_media }}"
          ></image>
        </div>
        <div class="column">
          {{ post.page_content[:max_length] | safe }} ...
          <a href="{{ post.page_url }}">Читать далее</a>
        </div>
        {% endfor %}
      </div>
    </div>

    <nav
      class="pagination is-centered"
      role="navigation"
      aria-label="pagination"
    >
      <a
        href="#"
        class="pagination-previous"
        >Назад</a
      >
      <a
        href="#"
        class="pagination-next"
        >Вперёд</a
      >
      <ul class="pagination-list">
        <li>
          <a
            href="#"
            class="pagination-link"
            aria-label="Goto page 1"
            >1</a
          >
        </li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li>
          <a
            href="#"
            class="pagination-link"
            aria-label="Goto page 45"
            >{{ pages.page - 1 }}</a
          >
        </li>
        <li>
          <a
            class="pagination-link is-current"
            aria-label="Page 46"
            aria-current="page"
            >{{ pages.page }}</a
          >
        </li>
        <li>
          <a
            href="#"
            class="pagination-link"
            aria-label="Goto page 47"
            >{{ pages.page + 1 }}</a
          >
        </li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li>
          <a
            href="#"
            class="pagination-link"
            aria-label="Goto page 86"
            >{{ pages.total }}</a
          >
        </li>
      </ul>
    </nav>
  </body>

  <style>
    div#topPost {
      margin: 0;
      /* display: flex; */
      justify-content: center;
      /* height: 30vh; */
      width: 100%;
    }
    /* body {
        margin: 0;
        display: flex;
        justify-content: center;
        height: 100vh;
        background-color: #f5f5f5;
    } */
  </style>
  <script src="{{ url_for('static_js', path='vue.global.prod.js?1') }}"></script>
</html>
